{% extends 'layouts/app.html' %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-4xl  text-gray-500 py-4 uppercase flex ">
        <span class="iconify" data-icon="clarity:form-line"></span>
        Select Products for Bill  account 
    </h1>
    <form method="POST"  >
        <!-- Security token -->
        {% csrf_token %}
      
        <!-- Using the formset -->
        {% include "components/select.html"  with field=form.product   %}

        {% include "components/input.html"  with field=form.quantity   %}
        {% include "components/textarea.html"  with field=form.note   %}
          
        {% include "components/submit.html"  with text='Save' %}
    </form> 
</div>   
{% endblock  %}


{% block javascript %}
{% comment %} <script >
window.onload = ()=> {
    // Get products from django to  js 
    let products = [
        {% for product in form.product.field.queryset  %}
            {
                id: {{ product.id }},
                name: '{{ product.name }}',
                quantity: {{ product.quantity }},
            },
        {% endfor %}
    ]
    let selectProduct = document.querySelector("select[name='product']")
    let inputQuantity = document.querySelector("input[name='quantity']")

    function setMaxValueForQuantityInput(target) {
        let product = products.find(product=> target.value == product.id )
        if (product != null) {
            inputQuantity.max =  product.quantity
        }
    }

    // init 
    setMaxValueForQuantityInput(selectProduct)
    selectProduct.onchange = event => setMaxValueForQuantityInput(event.target)
}
</script> {% endcomment %}
{% endblock javascript %}