{% extends 'layouts/app.html' %}

{% block content %}

<div class="p-4 shadow-lg rounded-lg">

    
    <div class="py-2">
        <button class="py-2.5 px-5 bg-blue-500 text-white shadow rounded hover:bg-blue-700 active:bg-blue-500">
            Create 
        </button>    
    </div>
    {% include "components/datatable.html"  with fields=fields data=page_obj  %}

    <div class="container mx-auto w-full p-4">
        <div class="p-3 w-full rounded-xl  flex justify-end items-center">
            <form name="perPage" class="flex flex-row items-center justify-center gap-2 p-1.5 px-1">
                <label for="per_page " class="inline-block">Per page: </label>
                <select onchange="perPage.submit()" name="per_page" class="rounded-md bg-white shadow  py-[3px] px-2">
                    {% with "2 5 10 25 50 100" as list_per_page %}
                        {% for per in list_per_page.split %}
                            <option value="{{ per }}" {% if per_page == per %} selected {% endif %}>{{ per }}</option>
                        {% endfor %}
                    {% endwith %}
                </select>
            </form>

            {% include "components/pagination.html" with pgae_obj=data %}
        </div>
    </div>

</div>

{% endblock  %}