{% load datatable %}

<div class="shadow  border-gray-200 rounded-lg border-b">
  
  <table class="min-w-full divide-y divide-gray-200">
    <!-- Headers -->
    <thead class="bg-gray-50">
      <tr>

        {% for field in fields %}
          <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
              {{ field }}
          </th>
        {% endfor %}

        <!-- for actions  -->
        <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
           actions
        </th>
      </tr>
    </thead>

    <!-- Rows -->
    <tbody class="bg-white divide-y divide-gray-200">
      <!-- Iterate over data rows -->
      {% if  data.count or data.paginator.count %}
        {% for row in data %}
          <tr>
            <!-- Iterate over field names -->
            {% for field in fields %}
                <td class="px-6 py-4 whitespace-nowrap">
                  <!-- get_attr : get attr from object  -->
                  {{ row|get_attr:field }}
                </td>
            {% endfor %}
            <!-- Actions delete, update -->
            <td class="px-6 py-4 whitespace-nowrap flex gap-6">
              <!-- update action  -->
                {% if update_link %}
                  <a 
                    {% if parentId %}
                      href="{% url update_link parentId row.id %}"
                    {% else %}
                      href="{% url update_link row.id %}"
                    {% endif %}
                    class="text-blue-600 font-medium relative tooltip cursor-pointer"
                  >
                    <span class="iconify" data-icon="feather:edit-2"></span>
                    <span class="absolute capitalize -top-10 tooltip-text -left-full hidden shadow-lg rounded-lg z-50 bg-gray-900 px-4 p-1 text-white">
                        Edit 
                    </span>
                  </a>
                {% endif %}
                <!-- delete action -->
                {% if delete_link %}
                  
                  <form method="POST" 
                    {% if parentId %}
                      action="{% url delete_link parentId row.id %}"
                    {% else %}
                      action="{% url delete_link row.id %}"
                    {% endif %}
                  >
                    {% csrf_token %}
                    <button class="text-rose-600 font-medium relative tooltip">
                      <span class="iconify" data-icon="wpf:delete"></span>
                      <span class="absolute capitalize -top-10 tooltip-text -left-full hidden shadow-lg rounded-lg z-50 bg-gray-900 px-4 p-1 text-white">
                          delete 
                      </span>
                    </button>
                  </form>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="{{ fields|length  }}" class="px-6 py-4 text-gray-500 gap-6 w-full text-center font-semibold"> 
            NO DATA 
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  
</div>