<div class="flex items-center w-full">
    <div class="flex-1">
        Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}
    </div>
    <div class="flex-1"></div>
    <form name="perPage" class="flex flex-row items-center justify-center gap-2 p-1.5 px-1">
        <label for="per_page " class="inline-block">Per page: </label>
        <select onchange="perPage.submit()" name="per_page" class="rounded-md bg-white shadow  py-[3px] px-2">
            {% with "5 10 25 50 100" as list_per_page %}
                {% for per in list_per_page.split %}
                    <option value="{{ per }}" {% if per_page == per %} selected {% endif %}>{{ per }}</option>
                {% endfor %}
            {% endwith %}
        </select>
    </form>

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&per_page={{per_page}}" class="p-1.5 px-3 hover:bg-gray-400 hover:bg-opacity-20 rounded">
    {% else  %}
        <a class="p-1.5 px-3 rounded text-gray-400 cursor-not-allowed">
    {% endif %}

        <span class="iconify" data-icon="ep:arrow-left-bold"></span>
    </a>

    <div class="px-2">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </div>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&per_page={{per_page}}"  class="p-1.5 px-3 hover:bg-gray-400 hover:bg-opacity-20 rounded">
    {% else  %}
        <a class="p-1.5 px-3 rounded text-gray-400 cursor-not-allowed">
    {% endif %}   
        <span class="iconify" data-icon="ep:arrow-right-bold"></span>
    </a>
</div>