<div class="px-4 flex flex-col">
    <label 
        for="{{ field.name }}" 
        class="px-1 text-gray-600 font-semibold py-1"
    >
        {{ field.label }}
        {% if field.field.required %}
           <span class="text-rose-600">*</span>
        {% endif %}
    </label>
    <select 
        class="w-full border-b bg-gray-100 py-2.5 px-4 rounded outline-none"
        name="{{ field.name }}"  
        value="{{ field.value }}"
        {% if field.field.required %}
            required
        {% endif %}
    >
        {% for items in field %}
            {{ items }}
        {% endfor %}
    </select>
    <ul class="px-1 py-2">
        {% for err in field.errors %}
            <li class="text-red-500">{{ err }}</li>  
        {% endfor %}
    </ul>
</div>