<div class="py-6 px-2 flex flex-col gap-3">
    {% include "components/tooltip.html" with text="Dashboard" link="#" icon="mdi:monitor-dashboard" %}
    {% include "components/tooltip.html" with text="product" link="#" icon="teenyicons:box-outline" %}
    {% include "components/tooltip.html" with text="billing" link="#" icon="uil:bill" %}
    {% include "components/tooltip.html" with text="customers" link="#" icon="fluent:people-20-regular" %}
    {% include "components/tooltip.html" with text="suppliers" link="#" icon="feather:users" %}
    <div class="flex-1"></div>
    {% include "components/tooltip.html" with text="Setting" link="#" icon="ant-design:setting-twotone" %}
</div>